# Root .gitignore
.DS_Store
.env
node_modules/
vendor/
backend/.env
frontend/.env
backend/vendor/
frontend/node_modules/
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*.log
backend/public/storage
backend/public/build
backend/public/hot
